$white: #FFFFFF;
$black: #000000;

//primary colors

$primary-color: #E70027;
$primary-color-variant: #FED0D8;

//secondary colors
$secondary-color: #221735;
$secondary-color-variant: #C8CCE6;

//Background  color
$background-color: #151226;


//Neutral colors
$neutral-color-900: #151226;
$neutral-color-800: #353248;
$neutral-color-700: #544F67;
$neutral-color-600: #67627B;
$neutral-color-500: #8F8AA4;
$neutral-color-400: #B0AAC6;
$neutral-color-300: #D5CFEB;
$neutral-color-100: #F2EBFF;
$neutral-color-50: #FAF4FF;